@font-face {
    font-family: milker;
    src: url(../assets/milker.otf);
}
@font-face {
    font-family: montserrat;
    src: url(../assets/Montserrat-Medium.otf);
}

*{
    margin: 0;
    padding: 0;
    font-family: milker;
}
.container{
height: auto;
min-height: 100vh;
width: auto;
background-image: linear-gradient(to right, #434343 0%, black 100%);
}

section{
    display: flex;
    justify-content: center;
    height: 100%;
    flex-wrap: wrap;
    gap: 80px;
}

.estructura{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    animation-timing-function: ease-in;
}.estructura:hover{
    scale: 1.1;
}

h1{
   color: rgb(255, 255, 255);
   padding: 5vh;
   font-size: 5vw; 
   text-align: center;
}

h2{
    color: white;
    padding: 2vh;
    text-align: center;
    font-size: 2vw;
    font-family: "montserrat";
}

.caja-img{
    border-radius: 25px;    
}

img{
    height: 500px;
    border-radius: 25px;
    border: 3px solid white;
}
